<div class="container">
  <div class="col-md-3">
      <div class="bs-sidebar hidden-print affix" role="complementary">
      <ul class="nav bs-sidenav">
          <li><a href="#example1">Minimum Setup</a></li>
          <li><a href="#example2">Init config</a></li>
          <li><a href="#example3">Min/Max date</a></li>
          <!-- li><a href="#example4">En/Disabled Dates</a></li -->
          <li><a href="#example4">Font-Awesome Icons</a></li>
          <li><a href="#example5">TextField config</a></li>
          <li><a href="#example6">Template Block</a></li>
          <li><a href="#example7">No Icon</a></li>
      </ul>
    </div>
  </div>

  <div class="col-md-9">
    <h1>Ember CLI - bootstrap datetimepicker<br /><small>Date/time picker for ember</small></h1>
    <br />
    <br />
    <div id="example1">
      <a name="example1"></a>
      <h3>Minimum Setup</h3>
      <div>
        <p>
          {{bs-datetimepicker date=date2}}
        </p>
        <h5>Code</h5>
        <p>
          <pre>&lt;p&gt;
  \{{bs-datetimepicker date=date2}}
&lt;/p&gt;
        </pre>
        </p>
      </div>
    </div>

    <div id="example1">
      <a name="example1"></a>
      <h3>Minimum Setup (forceDateOutput)</h3>
      <div>
        <p>
          {{bs-datetimepicker date=date2 forceDateOutput=true}}
        </p>
        <h5>Code</h5>
        <p>
          <pre>&lt;p&gt;
  \{{bs-datetimepicker date=date2 forceDateOutput=true}}
&lt;/p&gt;
        </pre>
        </p>
      </div>
    </div>



    <div id="example2">
      <a name="example2"></a>
      <h3>Init config</h3>

      <div>
        <form class="form" role="form">
          <div class="form-group">
            <label>Date 1</label>
            {{bs-datetimepicker date=date1 pickTime=false showToday=false format="Do MMM YYYY" textFieldName="date1"}}
          </div>
          <div class="form-group">
            <label>Date 1 (readonly)</label>
            {{bs-datetimepicker date=date1 pickTime=false showToday=false format="DD.MM.YYYY" textFieldName="date1a" disabled=true}}
          </div>
        </form>
        <h5>Code</h5>
        <pre>
&lt;form class=&quot;form&quot; role=&quot;form&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;Date 1&lt;/label&gt;
    \{{bs-datetimepicker date=date1 pickTime=false showToday=false format=&quot;Do MMM YYYY&quot; textFieldName=&quot;date1&quot;}}
  &lt;/div&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;Date 1 (readonly)&lt;/label&gt;
    \{{bs-datetimepicker date=date1 pickTime=false showToday=false format=&quot;DD.MM.YYYY&quot; textFieldName=&quot;date1a&quot; disabled=true}}
  &lt;/div&gt;
&lt;/form&gt;</pre>
      </div>
    </div>



    <div id="example3">
      <a name="example3"></a>
      <h3>Min/Max date config</h3>

      <div>
        <form class="form" role="form">
          <div class="form-group">
            <label>Date aware of min/max date</label>
            {{bs-datetimepicker date=date2 minDate=mindate maxDate=maxdate}}
          </div>
          <div class="form-group">
            <label>Mindate</label>
            {{bs-datetimepicker date=mindate pickTime=false showToday=false}}
          </div>
          <div class="form-group">
            <label>Maxdate</label>
            {{bs-datetimepicker date=maxdate pickTime=false showToday=false}}
          </div>
        </form>
        <h5>Code</h5>
        <p>
          <pre>&lt;form class=&quot;form&quot; role=&quot;form&quot;&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label&gt;Date aware of min/max date&lt;/label&gt;
  \{{bs-datetimepicker date=date2 minDate=mindate maxDate=maxdate}}
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label&gt;Mindate&lt;/label&gt;
  \{{bs-datetimepicker date=mindate pickTime=false showToday=false}}
&lt;/div&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label&gt;Maxdate&lt;/label&gt;
  \{{bs-datetimepicker date=maxdate pickTime=false showToday=false}}
&lt;/div&gt;
&lt;/form&gt;</pre>
        </p>
      </div>
    </div>


    <div id="example4">
      <a name="example4"></a>
      <h3>Use Font-Awesome icons</h3>

      <div>
        <form class="form" role="form">
          <div class="form-group">
            <label>Font-Awesome</label>
            {{bs-datetimepicker date=date2 dateIcon="fa fa-calendar" icons=faicons}}
          </div>
        </form>
        <h5>Code</h5>
        <p>
          <pre>&lt;form class=&quot;form&quot; role=&quot;form&quot;&gt;
&lt;div class=&quot;form-group&quot;&gt;
  &lt;label&gt;Font-Awesome&lt;/label&gt;
  \{{bs-datetimepicker date=date2 dateIcon="fa fa-calendar" icons=faicons}}
&lt;/div&gt;
          </pre>
        </p>
      </div>
    </div>



    <div id="example5">
      <a name="example5"></a>
      <h3>TextField config</h3>

      <div>
        <form class="form" role="form">
          <div class="form-group">
            <p>
              Every property beginning with "textField" will be exposed to the TextField view.
            </p>
            {{bs-datetimepicker
                date=date1
                textFieldName="date1b"
                textFieldPlaceholder="Date"
                textFieldReadOnly=true
                }}
          </div>
        </form>
        <h5>Code</h5>
        <pre>&lt;form class=&quot;form&quot; role=&quot;form&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;p&gt;
      Every property beginning with &quot;textField&quot; will be exposed to the TextField view.
    &lt;/p&gt;
    \{{bs-datetimepicker
      date=date1
      textFieldName=&quot;date1&quot;
      textFieldPlaceholder=&quot;Date&quot;
      textFieldReadOnly=true
    }}
  &lt;/div&gt;
&lt;/form&gt;</pre>
      </div>
    </div>







    <div id="example6">
      <a name="example6"></a>
      <h3>Template block</h3>

      <div>
        <form class="form" role="form">
          <div class="form-group">
            <label>With template</label>
            {{#bs-datetimepicker date=date2}}
              {{view Ember.TextField class="form-control" name="Date" placeholder="Date"}}
            {{/bs-datetimepicker}}
          </div>
        </form>
        <h5>Code</h5>
        <p>
          <pre>&lt;form class=&quot;form&quot; role=&quot;form&quot;&gt;
  &lt;div class=&quot;form-group&quot;&gt;
    &lt;label&gt;With template&lt;/label&gt;
    \{{#bs-datetimepicker date=date2}}
      \{{view Ember.TextField disabled=disabled class=&quot;form-control&quot; name=&quot;Date&quot; placeholder=&quot;Date&quot;}}
    \{{/bs-datetimepicker}}
  &lt;/div&gt;
&lt;/form&gt;
          </pre>
        </p>
      </div>
    </div>



    <div id="example7">
      <a name="example7"></a>
      <h3>No Icon (input field only)</h3>
      <div>
        <p style="position:relative;">
          {{bs-datetimepicker date=date2 noIcon=true}}
        </p>
        <h5>Code</h5>
        <p>
          <pre>&lt;p&gt;
  \{{bs-datetimepicker date=date2 noIcon=true}}
&lt;/p&gt;
        </pre>
        </p>
      </div>
    </div>
  </div>
</div>

